.panel {
  &__slider {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
  }

  &__slider.o-slider_horizontal {
    max-width: 25em;
  }

  &__slider.o-slider_vertical {
    height: 18em;
  }

  &__raw {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & + & {
      margin-top: 3.125em;
    }
  }

  &__field {
    width: 9.4em;
    margin: .5em;
  }

  &__checkbox {
    width: 80%;
    margin: 1em;
    text-align: center;

    @media screen and (min-width: 43.8em) {
      width: auto;
    }
  }
}
