.panel {
  padding-top: 4rem;

  &__slider {
    max-width: 25rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4.7rem;

    & .o-slider_is_vertical {
      height: 18rem;
    }
  }

  &__raw {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & + & {
      margin-top: 1rem;
    }
  }

  &__field {
    margin: .5rem;
  }

  &__checkbox {
    width: 80%;
    margin: .8rem;
    text-align: center;

    @media screen and (min-width: 43.8rem) {
      width: auto;
    }
  }
}
