include ../num-field/num-field
include ../checkbox/checkbox
include ../slider/slider

mixin panel({ hue = 255, saturation = '10%', lightness = '40%', sliderOptions } = {})
  - const { fields, checkboxes } = require('@components/panel/data.json');

  .panel.js-panel(style = { '--h': hue, '--s': saturation, '--l': lightness })
    .panel__slider.js-panel__slider
      +slider(sliderOptions)

    .panel__raw
      each field in fields
        .panel__field.js-panel__field
          +num-field(field)

    .panel__raw
      each checkbox in checkboxes
        .panel__checkbox.js-panel__checkbox
          +checkbox(checkbox)
