include ./mixins

- const isProdEnv = htmlWebpackPlugin.options.currentEnv === "production";

doctype html
html(lang = "en")

  head
    meta(charset = "utf-8")
    meta(http-equiv = "X-UA-Compatible" content = "IE=edge")
    meta(name = "viewport" content = "width=device-width, initial-scale=1")
    meta(name = "theme-color" content = "#000000")
    meta(name = "keywords" content = "slider, ordinary-slider")
    meta(name = "description" content = "It's another ordinary slider")

    title Ordinary slider

    link(rel = "icon" href = require("@favicons/favicon.svg") sizes = "any" type = "image/svg+xml")
    link(rel = "icon" href = require("@favicons/icon-16x16.png") sizes = "16x16" type = "image/png")
    link(rel = "icon" href = require("@favicons/icon-32x32.png") sizes = "32x32" type = "image/png")
    link(rel = "apple-touch-icon" href = require("@favicons/apple-touch-icon.png") sizes = "180x180")

    if isProdEnv
      link(rel = "stylesheet" href = "index.min.css")
      link(rel = "stylesheet" href = "o-slider.min.css")

  body.page
    .page__inner
      .container.page__container
        block content

    script(
      src = "https://code.jquery.com/jquery-3.4.1.min.js"
      integrity = "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin = "anonymous"
    )
    script(src = "o-slider.min.js")
    script(src = "index.min.js")

