block fakeBlock

-
  /**
  * Binds modifiers with a component.
  *
  * @param {string} className - class name of the component.
  * @param {string} mods - modifiers of the component.
  * @return {string} String containing name and modifiers.
  */
  function bindComponentMods({ className, mods }) {
    let result = className;
    const list = mods.split(',');

    list.forEach((mod) => {
      result += ` ${className}_${mod.trim()}`;
      return result;
    });

    return result;
  }
