block fakeBlock

-
  /**
  * Generates a class list based on a component name,
  * modifiers and additional classes.
  *
  * @param {string} className - class name of the component.
  * @param {string} mods - modifiers of the component.
  * @param {string} additionalClasses - classes to add to the component.
  * @return {string} Class list of the component.
  */
  function generateClassList({ className, mods, additionalClasses }) {
    let componentClasses = mods
      ? bindComponentMods({ className, mods })
      : className;

    componentClasses = additionalClasses
      ? bindAdditionalClasses({ componentClasses, additionalClasses })
      : componentClasses;

    return componentClasses;
  }
