mixin num-field({ additionalClasses, mods, id = generateID(), title, name, min, max, step, value } = {})
  -
    const className = 'num-field';
    const classes = generateClassList({ className, mods, additionalClasses })

  div(class= classes)
    label(class= `${className}__label` for= id)
      span(class= `${className}__title`)= title
    +input({
      additionalClasses: `${className}__input`,
      type: 'number',
      id,
      name,
      value,
      min,
      max,
      step,
    })
