mixin num-field({ id = null, title = 'title', name = '', min = null, max = null, step = 1, value = 0 } = {})
  - const className = 'num-field';

  div(class = className)
    label(class = `${className}__label` for = id)
      span(class = `${className}__title`)= title
      input(
        id = id
        class = `${className}__input`
        type = "number"
        name = name
        min = min
        max = max
        step = step
        value = value
      )
