.num-field {
  --field-color: HSL(var(--h, 0), var(--s, 0%), var(--l, 0%));

  max-width: 100%;
  height: 2rem;
  border: .1rem solid var(--field-color);
  position: relative;

  &:focus-within {
    box-shadow: 0 0 .3rem .06rem var(--field-color);
  }

  &__label {
    display: inline-block;
    color: #fff;
    background-color: var(--field-color);
    white-space: nowrap;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__title {
    user-select: none;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1.1rem;
  }

  &__input {
    font-size: .8rem;
    color: var(--field-color);
    background-color: #fff;
    height: 100%;
    width: 4.87rem;
    border: 0;
    padding: .35rem .325rem .325rem .65rem;
    outline: 0;
    box-sizing: border-box;

    &::selection {
      color: #fff;
      background-color: var(--field-color);
    }
  }

  &__input:disabled ~ &__disable-cover {
    display: block;
  }

  &__disable-cover {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: repeating-linear-gradient(
      45deg,
      white 0,
      white .5rem,
      var(--field-color) .5rem,
      var(--field-color) 1rem
    );
    opacity: .5;
    cursor: auto;
  }
}
