mixin num-field({ title = 'title', name = '', min = null, max = null, step = 1, value = 0 } = {})
  .num-field
    label.num-field__label
      span.num-field__title.js-num-field__title= title
      input.num-field__input.js-num-field__input(
        type = "number"
        name = name
        min = min
        max = max
        step = step
        value = value
      )
      .num-field__disable-cover
