mixin checkbox({ title = 'title', name = null, isChecked = false } = {})
  .checkbox.js-checkbox(class = isChecked && 'checkbox_is_checked' data-name = name)
    span.checkbox__title.js-checkbox__title= title
    button.checkbox__button.js-checkbox__button(type = "button")
