mixin checkbox({ title = 'title', name = '', isChecked = false } = {})
  .checkbox.js-checkbox(tabindex = 0)
    label.checkbox__label
      input.checkbox__input.js-checkbox__input(
        type = "checkbox"
        name = name
        checked = isChecked
      )
      span.checkbox__title.js-checkbox__title= title
      .checkbox__toggler
