.checkbox {
  $root: &;

  --checkbox-color: HSL(var(--h, 0), var(--s, 0%), var(--l, 0%));

  color: var(--checkbox-color);
  display: flex;
  align-items: center;

  &__title {
    margin-right: 1em;
    user-select: none;
    cursor: pointer;
  }

  &__button {
    background-color: var(--checkbox-color);
    height: 2rem;
    width: 5rem;
    padding: 0;
    border: .1rem solid var(--checkbox-color);
    box-sizing: border-box;
    cursor: pointer;

    &:focus {
      outline: none;
      box-shadow: 0 0 .3rem .06rem var(--checkbox-color);
    }

    &::before {
      content: '';
      background-color: #fff;
      display: block;
      width: 50%;
      height: 100%;

      #{$root}_is_checked & {
        margin-left: auto;
      }
    }
  }
}
