mixin checkbox({ id = null, title = "title", name = "", isChecked = false } = {})
  - const className = "checkbox";

  div(class = className tabindex = 0)
    label(class = `${className}__label` for = id)
      input(
        class = `${className}__input`
        type = "checkbox"
        id = id
        name = name
        checked = isChecked
      )
      span(class = `${className}__title`)= title
      div(class = `${className}__toggler`)
