extends ../../assets/markup-layouts/main

block body

  body.page
    main.page__main
      .page__container
        h1.page__title oSlider preview

        .page__repository-link
          a(
            href = "https://github.com/AkhmadBabaev/o-slider"
            target = "_blank"
            rel = "noopener noreferrer"
          ) Go to github repository

        block page-content

    block scripts
