extends ../../assets/markup-layouts/main

block body

  body.page
    main.page__main
      .page__container
        h1.page__title Ordinary-slider preview

        block page-content

    block scripts
