@import '../../assets/styles/mixins';

.page {
  height: 100%;
  margin: 0;

  &__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &__container {
    @include container;

    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
