extends /assets/markup-layouts/main

block body
  - const className = 'page';

  body(class = className)
    div(class = `${className}__inner`)
      div(class = `${className}__container`)
        block page-content

    block scripts
