include ../panel-list/panel-list

mixin page
  body.page
    main.page__main
      .page__container
        h1.page__title oSlider preview

        .page__repository-link
          a(
            href = "https://github.com/AkhmadBabaev/o-slider"
            target = "_blank"
            rel = "noopener noreferrer"
          ) Go to github repository

        +panel-list

    script(
      src = "https://code.jquery.com/jquery-3.4.1.min.js"
      integrity = "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin = "anonymous"
    )
    script(src = "o-slider.min.js")
    script(src = "index.min.js")
