extends ./auxiliary/markup/layout

block append content
  +panel({ additionalClasses: 'page__panel', styles: '--l: 45%' })
  +panel({ additionalClasses: 'page__panel', styles: '--l: 45%; --s: 25%' })
